<div class="container">
<h2 class="text-center">编辑我的信息</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_path(@conn, :update, @user) %>

<%= link "返回", to: user_path(@conn, :show, @user.id) %>
</div>
