<div class="container">
<h2>我的信息</h2>

<ul>

  <li>
    <strong>Name:</strong>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Password:</strong>
    <%= @user.password %>
  </li>

</ul>
<button class="btn btn-simple btn-success">Success<div class="ripple-container"></div></button>
<%= button "修改", to: user_path(@conn, :edit, @user), method: :get, class: "btn btn-simple btn-primary"%>
</div>
