
<div class="container">
<h2>New mold</h2>

<%= render "form.html", changeset: @changeset,
                        action: mold_path(@conn, :create) %>

<%= link "Back", to: mold_path(@conn, :index) %>
</div>
